<% include ./partials/header %>
<div class="ui main text container segment">
    <div  class="ui huge header"><%= note.title %></div>
    <div class="ui top attached segment">
        <div class="item">
        <!--    <div class="content">
                 <span></span>
            </div>  -->
            
            <div class="description">
                <p><%= note.body %></p>
            </div>
             <div class="ui ordered list"> Attachments
                 
           <% note.attachments.forEach(function(attachment){ %>
        
    <a class="item" href="<%=attachment.link%>"> <strong><%= attachment.name %></strong> </a>
    <% }) %>
  </div> <div class="item">
            <a class="ui blue basic button" href="/notes/<%=note._id %>/edit"> EDIT </a>
            <form id="delete" action="/notes/<%=note._id %>?_method=DELETE" method="POST">
                <button class="ui red inverted button">Delete</button>
            </form>
            </div>
        </div>
        
    </div>
     
</div>

